#tab-panel-site-description, #tab-panel-site-image, #tab-panel-facebook-uid {
	margin-top: 12px;
	line-height: 22px;
	font-size: 13px;
}
	
.collapse {
	text-decoration: none;
	font-size: 11px;
}
	
.toggleMenu-2, .toggleMenu-3, .toggleMenu-4, .toggleMenu-5, .toggleMenu-6 {
	display: none;
}